<div class="dashboard-wrapper">
  <h2 class="title">Your order Details</h2>
  <div class="order-summary" *ngIf="order && order[0]?.cart">
    <h3>Order Summary:</h3>
    <ul>
      <li *ngFor="let item of order[0].cart">
        <div class="order-item">
          <div class="item-details">
            <p class="item-title">{{ item.title }}</p>
            <p class="item-description">{{ item.description }}</p>
          </div>
          <p class="item-quantity"> {{ item.quantity }}</p>
        </div>
      </li>
    </ul>
    <p class="total">Total: ₹{{ calculateTotal(order[0].cart) | number:'1.2-2' }}</p>
  </div>
</div>
