<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/products">Online Shop</a>
  </div>
  <ul class="navbar-nav">
    <li><a routerLink="/products">Products</a></li>
    <li><a routerLink="/cart">Cart</a></li>
    <li><a routerLink="/checkout">Checkout</a></li>
    <!-- <li *ngIf="!isLoggedIn"><a routerLink="/register">Register</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="/login">Login</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="/user-dashboard">Dashboard</a></li> -->
  </ul>
</nav>
<div class="main-content">
  <router-outlet></router-outlet>
</div>
