<nav class="navbar">
  <div class="navbar-brand">
    <a routerLink="/products">Online Shop</a>
  </div>
  <ul class="navbar-nav">
    <li><a routerLink="/products">Products</a></li>
    <li><a routerLink="/cart">Cart</a></li>
    <li><a routerLink="/checkout">Checkout</a></li>

    <!-- Display username if logged in -->
    <ng-container *ngIf="isLoggedIn(); else loginTemplate">
      <li><span>Welcome, {{ getUsername() }}!</span></li>
      <li><a (click)="logout()">Logout</a></li>
    </ng-container>

    <!-- Display login and register links if not logged in -->
    <ng-template #loginTemplate>
      <li><a routerLink="/login">Login</a></li>
      <li><a routerLink="/register">Register</a></li>
    </ng-template>
  </ul>
</nav>
<div class="main-content">
  <router-outlet></router-outlet>
</div>