/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
  }
  
  .navbar-brand a {
    font-size: 24px;
    color: white;
    text-decoration: none;
  }
  
  .navbar-nav {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .navbar-nav li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .navbar-nav li a:hover {
    color: #ffc107;
  }
  
  /* Main Content Styles */
  .main-content {
    padding: 20px;
  }
  .logout {
    cursor: pointer;
  }
  