<div class="order-summary" *ngIf="order && order[0]?.cart">
  <h3>Order Summary:</h3>
  <ul>
    <li *ngFor="let item of order[0].cart">
      You have buy  {{ item.title }} which is  <b>₹{{ item.price | number:'1.2-2' }}  {{ item.quantity }}</b>
    </li>
  </ul>
  <h4>Order Items:</h4>
  <ul>
    <li *ngFor="let item of order[0].cart">

      <h4>
        Titile : {{ item.title }}
      </h4> 
      <p><b> Descriptions : </b>{{ item.description }}</p>
      <h4> Price : ₹{{ item.price | number:'1.2-2' }}  {{ item.quantity }}</h4>
    </li>
  </ul>
  <h3>Total: ₹{{ calculateTotal(order[0].cart) | number:'1.2-2' }}</h3>
</div>
